<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card" style="top: 140px;">
            <div class="card-header">
                Actualizar Datos
            </div>
            <div class="card-body">
                <form (submit)="onSubmit()" [formGroup]="validatorGroup">
                    <div class="form-group">
                        <label for="names">Nombres:</label>
                        <input [class.is-invalid]="validatorGroup.get('names').invalid && validatorGroup.get('names').touched" type="text" [(ngModel)]="user.names" name="names" class="form-control" formControlName="names" autofocus>

                        <div *ngIf="(names.invalid && names.touched) || names.dirty">
                            <small *ngIf="names.errors?.required" class="text-danger">El nombre es requerido</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nicknames">Apellidos:</label>
                        <input type='text' [class.is-invalid]="validatorGroup.get('nicknames').invalid && validatorGroup.get('nicknames').touched" [(ngModel)]="user.nicknames" name="nicknames" class="form-control" placeholder="Apellidos" formControlName="nicknames" autofocus>
                        <div *ngIf="(nicknames.invalid && nicknames.touched) || nicknames.dirty">
                            <small *ngIf="nicknames.errors?.required" class="text-danger">El Apellido es requerido</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Correo:</label>
                        <input [class.is-invalid]="validatorGroup.get('email').invalid && validatorGroup.get('email').touched" type="text" [(ngModel)]="user.email" name="email" class="form-control" placeholder="Correo" formControlName="email">
                        <div *ngIf="(primEmail.invalid && primEmail.touched) || primEmail.dirty">
                            <small *ngIf="primEmail.errors?.required" class="text-danger">El Correo es requerido</small>

                            <small *ngIf="primEmail.errors?.pattern" class="text-danger">Por favor ingresa un Correo correcto</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone">Celular:</label>
                        <input [class.is-invalid]="validatorGroup.get('phone').invalid && validatorGroup.get('phone').touched" type="text" [(ngModel)]="user.phone" class="form-control" placeholder="Celular" formControlName="phone">
                        <div *ngIf="(phone.invalid && phone.touched) || phone.dirty">
                            <small *ngIf="phone.errors?.required" class="text-danger">El telefono es requerido</small>

                            <small *ngIf="phone.errors?.pattern" class="text-danger">Por favor, ingresa un telefono correcto</small>
                        </div>
                    </div>
                    <button type="submit" [disabled]="validatorGroup.invalid" mat-raised-button color="primary">
                    Actualizar
                </button>
                </form>
            </div>
        </div>
    </div>
</div>